input:focus {   
    border-color: #888888 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px grey !important;
    outline: 0 none !important;
}

.container {
    width: 70%;
    height: 80%
}

#main-body {
    margin-left: 3%;
    margin-right: 30%;
}

.spaced {
    margin-left: 5px;
    margin-right: 5px;
}

.left-spaced {
    margin-left: 5%;
}




.btn-sm.btn-close {
    width: 1px;
    height: 1px;
}

.bold {
  font-weight: bold;
}

::placeholder {
    opacity: 0.5;
}

.nav-head {
    font-size: 25px;
    font-family:Book Antiqua;
  }